<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedIn web-based Test Automation Test Suite">

	<!-- <listeners> -->
	<!-- <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" 
		/> -->
	<!-- </listeners> -->


	<test name="LinkedIn Page - Demo Test Cases">
		<packages>
			<package name="qa.testcases">
			</package>
		</packages>

<!-- 		<classes> -->
<!-- 			<class name="qa.testcases.LoginPageTest.java"></class> -->
<!-- 			<class name="qa.testcases.LoginTest"></class> -->
<!-- 			<class name="qa.testcases.SendMessageTest"></class> -->

<!-- 		</classes> -->
	</test>
</suite>