<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedIn web-based Test Automation Test Suite">
	<test name="LinkedIn Page - Demo Test Cases">
		<classes>
			<class name="qa.testcases.SendMessageTest"></class>

		</classes>
	</test>
</suite>